# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/
dist/
.expo/
.expo-shared/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# React Native
android/.gradle/
android/build/
android/app/build/